<!DOCTYPE html>
<html lang="en" >
<head>
  <title>Angular Material - Starter App</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,700'>
  <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>
  <link rel="stylesheet" href="app.css"/>

</head>

<!--
  ✓ Create Angular shell app
  ✓ Use `bower install angular-material`
  ✓ Load the CSS (before our app.css),
  ✓ Load the angular-material.js library and its dependent angular-aria.js and angular-animate.js libraries.
  ✓ Then set the module dependency on 'ngMaterial'
  ✓ Use wirefames to determine containers
  ✓ Configure layouts
  ✓ Lock open the sideNav, add shadow
  ✓ Add content
  ✓ Register Icons
  ✓ Integrate with App logic
    ✓ use ng-repeat
    ✓ load app logic
    ✓ add controller

  -> Add Responsiveness

  Fix Aria Warnings
  Add Button clicks
  Fix Contact Icons
  Add Theming support
-->

<!-- Add UsersList controller -->
<body ng-app="bubbleWebsite" layout="column">

<md-toolbar layout="row">
  <md-button class="menu">
    <md-icon md-svg-icon="menu" ></md-icon>
  </md-button>
  <h1>Angular Material - Starter App</h1>
</md-toolbar>

<div flex layout="row">

  <md-sidenav md-is-locked-open="true" class="md-whiteframe-z2">
  </md-sidenav>

  <md-content flex id="content">

  </md-content>

</div>

<script src="./bower_components/angular/angular.js"></script>
<script src="./bower_components/angular-animate/angular-animate.js"></script>
<script src="./bower_components/angular-aria/angular-aria.js"></script>
<script type="text/javascript" src="./bower_components/angular-material/angular-material.js"></script>

<script src="app.js"></script>

</body>
</html>